body {
  font-family: Arial, sans-serif;
  background-color: #fff5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.cartao-principal {
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #d11d53;
}

input {
  border: 2px solid #ffdae0;
  border-radius: 12px;
  padding: 8px;
  margin: 5px;
}

button {
  background-color: #ffb6c1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

canvas {
  border: 2px dashed #ffb6c1;
  border-radius: 15px;
  margin: 20px 0;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: #ffdae0;
  color: #d11d53;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ffdae0;
}